/build
*.class
/bin/
.settings
settings.xml
target/
target/*
*.venv
*/venv
.vscode/
.vscode/*
*__pycache__*
.classpath
.project
.idea
.factorypath
docker/tomcat_old/
/todo.txt
docker/compose/docker-compose-local-test.yml
docker/compose