html, body{
	background-color: #242939; 
	color: #48465b;
	/*font-family: "Courier New", Courier, "Liberation Mono", monospace;*/
	/*font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;*/
	height: 100%;
}

table{
	font-family: "Courier New", Courier, "Liberation Mono", monospace;
}

.ws_title:before{
	background-image: url("ressources/img/logos/logoWS_hd.png");
	background-size: 40px auto;
	display: inline-block;
	width: 40px;
	height: 27px;
	content: "";
	position: relative;
	top: 3px;
	right: 10px;
	margin-left: 20px;
}

.card-top{
	border-radius: 0% 0% 10px 0%;
	background-color: white;
	width: 80%;
}

.container{
	height: calc(100% - 80px);
	align-content: center;
}

.card{
	/*height: 370px;*/
	margin-top: auto;
	margin-bottom: auto;
	min-width: 500px;
	background-color: rgba(0,0,0,0.5) !important;
}
.pageFooter{
	/*height: 100px;
	padding-top: 50px;
	margin-bottom: 5px;
	position: fixed;
	bottom: 0px;
	display: flex;
	width: 100%;*/
	/*background-color: silver;*/
	background: linear-gradient(0, #4d60a2, #11131b);
	/*background-color: linear-gradient(0, silver, #242939);*/
}

.pageFooter a{
	color:white;
	margin-left: 20px;
}

.social_icon span{
	font-size: 60px;
	margin-left: 10px;
	color: #FFC312;
}

.social_icon span:hover{
	color: white;
	cursor: pointer;
}

.card-header h3{
	color: white;
}

.social_icon{
	position: absolute;
	right: 20px;
	top: -45px;
}

.input-group-prepend span{
	width: 50px;
	background-color: #FFC312;
	color: black;
	border:0 !important;
}

input:focus{
	outline: 0 0 0 0  !important;
	box-shadow: 0 0 0 0 !important;
}

.remember{
	color: white;
}

.remember input
{
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
}

.login_btn{
	color: black;
	background-color: #FFC312;
	/*width: 100px;*/
}

.login_btn:hover{
	color: black;
	background-color: white;
}

.links{
	color: white;
}

.links a{
	margin-left: 4px;
}

#connexion_info{
	color: coral;
}

.err_info{
	color: coral;
}

.deleteUserTable{
	background-color: white;
	width : 100%;
}
