.split {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: auto;
	overflow-x: hidden;
}

.gutter {
	background-color: #ccc;
	background-repeat: no-repeat;
	background-position: 50%;
	/*height : 100%;
	/*border:2px solid #000;*/ 
    /* outline: 2px solid #000;
    outline-offset: -8px;  */
}

.gutter.gutter-horizontal {
	cursor: col-resize;
	/* background-image: url("ressources/img/ellipsis-v.png"); */
	background-image: url("ressources/img/rectangle-v.png");
	background-size: 10px 40px; 
	border : 1px solid #212529;
	/*border-left : 1px solid #212529;*/
	/*border-right: 1px solid #212529;*/
}

.gutter.gutter-vertical {
	cursor: row-resize; 
	/* background-image: url("ressources/img/ellipsis-h.png"); */
	background-image: url("ressources/img/rectangle-h.png");
	background-size: 40px 10px;
	/*transform: rotate(90deg);*/
	border-top : 1px solid #212529;
	border-bottom: 1px solid #212529;
}

.split.split-horizontal, .gutter.gutter-horizontal {
	height: 100%;
	float: left;
}

.split.split-vertical, .gutter.gutter-vertical {
	width: 100%;
	float: top;
}