.split {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: auto;
	overflow-x: hidden;
}

.gutter {
	background-color: #ccc;
	background-repeat: no-repeat;
	background-position: 50%;
    position: relative;

	border: 1px solid #212529;
    margin: 3px;
    padding: 6px;
    border-radius: 8px;
}

.gutter.gutter-horizontal {
	cursor: col-resize;
	background-image: url("ressources/img/rectangle-v.png");
    background-size: 5px 100px;
    width: 8px !important;
    height: calc(100% - 30px) !important;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.gutter.gutter-vertical {
	cursor: row-resize; 
	background-image: url("ressources/img/rectangle-h.png");
	background-size: 100px 5px;
    height: 8px !important;
    width: calc(100% - 30px) !important;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.split.split-horizontal, .gutter.gutter-horizontal {
	height: 100%;
	float: left;
}

.split.split-vertical, .gutter.gutter-vertical {
	width: 100%;
	float: top;
}