version: "3.3"
networks:
  reseau:

services:

  ws_webstudio:
    container_name: ws-public-webstudio
    image: 'registry.gitlab.com/geosiris/services/webstudio/webstudio-public/webstudio:latest'
    hostname: 'gitlab.com'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'https://gitlab.com'
      webstudio_enableUserDB: true
      webstudio_enableWorkspace: true
      workspace_databaseType: s3
      s3_localstackEndpoint: http://my-workspace:9000 
      s3_accessKey: myAdminLogin
      s3_secretKey: myAdminPassword
      userdb_host: database-postgres
      userdb_password: psql_password_Demo

    networks:
      reseau:
        aliases:
          - webstudio
    ports:
      - "80:80"
      - "443:443"

    volumes:
      - ws_h5_data:/store
  
  minio:
    container_name: ws-public-workspace-storage-minio-s3
    image: bitnami/minio:latest
    volumes:
      - ws_workspace_data_minio:/webstudio-public/minio/data
    environment:
      MINIO_ROOT_USER: myAdminLogin
      MINIO_ROOT_PASSWORD: myAdminPassword
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      reseau:
        aliases:
          - my-workspace

  ws_dbuser:
    container_name: ws-public-userdb
    build: userDB/.
    ports:
      - "8052:5432"
    environment:
      POSTGRES_PASSWORD: psql_password_Demo
    networks:
      reseau:
        aliases:
          - database-postgres
    volumes:
      - ws_dbuser_data:/webstudio/postgresql/data

volumes:
  ws_workspace_data_minio:
    external: false
  ws_dbuser_data:
    external: false
  ws_h5_data:
    external: false

# docker-compose -f docker-compose.yml -p webstudio-public pull
# docker-compose -f docker-compose.yml -p webstudio-public build
# docker-compose -f docker-compose.yml -p webstudio-public up -d

# to reset all volumes : 
# docker-compose -f docker-compose-local.yml -p webstudio-public-local down --volumes